# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.idea
/.vs/icpc-nmu
/icpc-nmu.sln
/icpc-nmu.vcxproj
/icpc-nmu.vcxproj.filters
/icpc-nmu.vcxproj.user
/.gitignore
/.gitignore
/CMakeLists.txt
/cmake-build-debug/
/main.cpp
